<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="{%static 'index.css'%}">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <title>
        {%block title%}
        {%endblock%}
    </title>
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item has-text-primary">
               <strong><i class="fas fa-tractor"></i> KH-e-TI</strong> 
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>

                <a class="navbar-item">
                    Buy
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Rent
                        </a>
                        <a class="navbar-item">
                            Hire
                        </a>
                        <a class="navbar-item">
                            Schemes
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            About
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {%block body%}
    {%endblock%}
</body>

<script>
$(document).ready(function() {

// Check for click events on the navbar burger icon
$(".navbar-burger").click(function() {

    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
    $(".navbar-burger").toggleClass("is-active");
    $(".navbar-menu").toggleClass("is-active");

});
});
</script>
</html>
