{%extends 'index/base.html'%}

{%block title%}
rent
{%endblock%}

{%block body%}{% load crispy_forms_tags %}

<div class="tabs is-centered">
  <ul>
    <li class="is-active"><a href="">1.Add owner info</a></li>
    <li><a href="">2.Add tractor info</a></li>
    <li><a href="">3.Upload Image</a></li>
  </ul>
</div>
<div class="container">
  <div class="columns is-centered">
    <div class="column is-two-thirds is-mobile-full">
      <form id='form-1' method="POST">
        {%csrf_token%}
        <div class="notification is-light">
          <div class="column">
         
          {{form|crispy}}
          <div class="field">
              <div class="control">
                <button type="submit" class="button is-primary">Next</button>
              </div>
            </div>
        </div>
          
        </div>
      </form>
    </div>
  </div>
</div>
</div>
{%endblock%}