{% extends 'index/base.html' %}

{% block title %}
    New Tractor
{% endblock title %}

{% block body %}
    <div class="container">
        <div class="level-item">
            <div class="column is-two-fifths is-mobile-full">

                <form method="POST">
                    {% csrf_token %}
                    <div class="notification is-light">

                        <fieldset>
                            <legend class='title'>New Tractor? <span class="has-text-primary">Register Here.</span>
                            </legend>

                            <hr class="has-background-grey-lighter">
                            <br>
                            {% include 'index/form_template.html' %}
                        </fieldset>

                        <div class="form-group">
                            <button class="button is-primary" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}