<section class="container">
    {% for tractor in tractors %}
        <div class="notification container">
            <article class="media">
                <figure class="media-left">
                    <p class="image is-128x128">
                        <img src="{{ tractor.image.url }}" alt="tractor image: {{ tractor }}">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p><strong>Tractor: </strong>{{ tractor.brand_name }}</p>
                        {% if tractor.user.full_name %}
                            <p><strong>Owner: </strong>{{ tractor.user.full_name }}</p>
                        {% endif %}

                        <div class="columns">
                            <div class="column">
                                <strong>Drive: </strong>{{ tractor.drive }}
                            </div>
                            <div class="column">
                                <strong>Model: </strong>{{ tractor.model_name }}
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <strong>Hp: </strong>{{ tractor.hp }}
                            </div>
                            <div class="column">
                                <strong>Rent Per Hour: </strong>{{ tractor.rent_per_hour }}
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column"></div>
                        <div class="column"><a href="{% url 'tractor:detail' tractor.id %}" class="button is-primary">Details</a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    {% endfor %}
</section>
