{% extends 'index/base.html' %}

{% block title %}
    {{ tractor }}
{% endblock title %}

{% block body %}
    <div class="container">
        <div class="notification">
            <article class="media">
                <figure class="media-left">
                    <p class="image is-128x128">
                        <img src="{{ tractor.image.url }}" alt="tractor image">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p><strong>Tractor: </strong>{{ tractor.brand_name }}</p>
                        <p><strong>Owner: </strong>{{ tractor.user.userprofile.full_name }}</p>

                        <div class="columns">
                            <div class="column">
                                <strong>Drive: </strong>{{ tractor.drive }}
                            </div>
                        </div>

                        <div class="columns">
                            <div class="column">
                                <strong>Hp: </strong>{{ tractor.hp }}
                            </div>
                            <div class="column">
                                <strong>Rent Per Hour: </strong>{{ tractor.rent_per_hour }}
                            </div>
                        </div>

                        <div class="columns">
                            <div class="column">
                                <strong>Mobile: </strong>{{ tractor.user.phone_number }}
                            </div>

                            <div class="column">
                                <strong>Model Number: </strong>{{ tractor.model_name }}
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column"></div>
                        {# this is done to create an empty row #}

                        <div class="column">
                            {% if tractor.user == request.user %}
                                <div class="field is-grouped">
                                    <p class="control">
                                        <a class="button is-info" href="{% url 'tractor:update' tractor.pk %}">
                                            <i class="fal fa-edit">&nbsp;&nbsp;</i>Update
                                        </a>
                                    </p>

                                    <p class="control">
                                        <a class="button is-danger" href="{% url 'tractor:delete' tractor.pk %}">
                                            <i class="fal fa-trash-alt">&nbsp;&nbsp;</i>Delete
                                        </a>
                                    </p>
                                </div>

                            {% else %}
                                <a href="#" class="button is-info">
                                    Rent
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </article>
        </div>

        <div class="notification">
            <p><strong>Implements available: </strong>
                <br>
                {% for implement in tractor.user.myimplementation.implement.all %}
                    <ul style="list-style: none">
                        <li>{{ implement }}</li>
                    </ul>
                {% endfor %}

        </div>
    </div>

{% endblock %}