{% extends 'index/base.html' %}

{% block title %}
    Forget Password
{% endblock %}

{% block body %}
    <div class="container level-item">
        <form method="POST" class="notification">
            {% csrf_token %}
            <fieldset>
                <legend class="title">Forget Password?</legend>
                <hr class="has-background-grey-lighter">

                <div class="field">
                    <label class="label">Phone Number</label>
                    <div class="control has-icons-left">
                        <input class="input is-success" type="text" placeholder="Text input" value="bulma">

                        <span class="icon is-small is-left">
                            <i class="fas fa-phone"></i>
                        </span>

                    </div>
                    <p class="help is-success">This username is available</p>
                </div>

            </fieldset>


        </form>
    </div>

{% endblock body %}